nav{
    background-image: linear-gradient(#b2b2fc, #f8f9e1);
    color: #050469;
    padding: 25px 0;
}

footer{
    background-image: linear-gradient( #f8f9e1 , #b2b2fc);
    color: #050469;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 8vh;
}

a{
	text-decoration: none;
}
nav img{
    width: 70px;
    margin-right: 20px;
}
.nav-container{
    display: flex;
}

.logout{
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
}

.fa-times{
    color: #fff !important;
    font-size: 15px;
    font-weight: 700;
}

.user-login{
    margin-top: 70px;
}

.grey-btn{
  background-color: #f6f6f4;
  padding: 6px 14px;
  margin: 8px 0;
  font-weight: 500;
  border-radius: 5px;
  border-color: #a8b6c4;
  cursor: pointer;
}

.login-inner-content{
    border: 2px solid #e8e9e7 ;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    position: relative;
}


form.user-login input{
    border: 1px solid #c2cbd1 ;
    box-shadow: none !important;
}

.login-heading{
    color: #4d60ad;
    font-weight: 500;
    top: -15px;
    background-color: #fff;
    padding: 0 7px;
   position: absolute;
}


.login-label{
    background: #f2f2f2;
    font-weight: 600;
     height: 40px;
}

.employee-listings{
    border: 2px solid #e8e9e7 ;
    margin-top: 40px;
    min-height: 400px;
    position: relative;
}

.employee-listings-heading{
    position: absolute;
    top: -14px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
}

.table{
    border-color: #000;
    text-align: center;
}

.table thead tr{
    background-color: #f8f9e1;
}

.edit-form label{
    background-color:  #f2f2f2;
    height: 40px;
    font-weight: 600;
}

.edit-form input{
    box-shadow: none !important;
}

.edit-form textarea{
    box-shadow: none !important;
}

@media screen and (max-width:600px) {
    .edit-form label{
        background-color:  #fff;
        height: 40px;
    }
}